# Folder
ScrapeData/
producer/
ecomscraper/
.ecomscraper/
beanstalk_console/


# File ekstension
*.json
*.pyc
*.log

# Spesific File
check.py
blibliscraperkeywords.py
dump.py
kick_jobs.py
input_store_link.py
cookies_shopee.txt
run_producer.py
test_blibli.py
monit_lazada.py
caching_redis.py
cookies_redis.py